{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>India News - Times of India</title>
	<link rel="stylesheet" href="{% static 'news/style.css' %}">
</head>

<body>
	<nav>
		<a href="{% url 'index' %}"> NEWS APP</a>
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'india_news' %}">India News</a>
	</nav>
	<div class="task_adder">
		<h1>India News From Times of India</h1>
	</div>
	<h2>Results:</h2>
	{% if articles %}
	{% for article in articles %}
	<div class="added">
		<li class="article">
			<h3>{{ article.title }}</h3>
			<p>{{ article.description|safe }}</p>
			<a href="{{ article.url }}" target="_blank">Read more</a>
		</li>
	</div>
	{% endfor %}
	{% else %}
	<p>No India news found at the moment.</p>
	{% endif %}
</body>

</html>
